@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

:root {
  --primary-color: #7c59b0;
  --border-radius: 5px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: 'Londrina Solid', cursive;
}

h1 {
  color: #fff;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
}

h1:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Bookmark Styling */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px;
}

.item:hover {
  background: rgba(0, 0, 0, 0.6);
}

.item a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.item a:link,
.item a:visited {
  color: orangered;
  text-decoration: none;
}

.item a:hover,
.item a:active {
  border-bottom: dashed 3px orangered;
}

.fa-times-circle {
  margin: 0;
  position: absolute;
  top: -5px;
  right: -5px;
  float: right;
  cursor: pointer;
  z-index: 2;
}

.name {
  margin-right: 20px;
}

.name img {
  height: 20px;
  width: 20px;
  vertical-align: sub;
  margin-right: 5px;
  margin-bottom: 2px;
}

/* Media Query: Large-Smartphones */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}
