@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

:root {
  --primary-color: #7c59b0;
  --border-radius: 5px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: 'Londrina Solid', cursive;
}

h1 {
  color: #fff;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
}

h1:hover {
  background: rgba(0, 0, 0, 0.8);
}
